<div class='hoox-shop__afterpay'>
    <p class='hoox-shop__afterpay-text'>
        or 4 interest-free payments of <span>$</span><span class='js-after-pay-price'>33.00</span>
        with
    </p>

    <button class='hoox-shop__afterpay-icon js-afterpay-toggle'>
        {% render 'hoox-icon-afterpay' %}
    </button>
</div>