<style>
    .row-cols-7>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 12.5%;
    }

    kbd{
        background-color: #f1f1f1;
        color: #000;
        padding: 3px 10px;
    }
</style>
<div class="section-content">
    <div class="container mb-10">
        <p class="mb-3 text-gray-400">Primary Color Palette</p>
        <div class="row row-cols-7">
            <div class="col">
                <div class="shadow">
                    <div class="bg-primary py-9">

                    </div>
                    <div class="py-3 px-2">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">Black</p>
                        <p class="font-size-xs mb-0 text-gray-500">#000000</p>    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-10">
        <p class="mb-3 text-gray-400">Secondary Color Palette</p>
        <div class="row row-cols-7">
            <div class="col">
                <div class="shadow">
                    <div class="bg-secondary py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">Verdigris</p>
                        <p class="font-size-xs mb-0 text-gray-500">#5CB8B2</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-gainsboro py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">Gainsboro</p>
                        <p class="font-size-xs mb-0 text-gray-500">#E5E1E6</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-dark py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">Dark jungle green</p>
                        <p class="font-size-xs mb-0 text-gray-500">#07272D</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-saddle-brown py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">saddle-brown</p>
                        <p class="font-size-xs mb-0 text-gray-500">#99552B</p>    
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10 border-top d-block"></div>
    </div>    

    <div class="container mb-10">
        <div class="row mb-7">
            <div class="col-12">
                <h6>H1</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Neufile Grotesk</div>
                    <div class="mb-3">Medium</div>
                    <div>Font Size: 60px</div>
                    <div>Line Height: 1.2</div> 
                    <div>Letter Spacing: -2.4</div>
                    <div>Font Color: #000</div>
                </div>
            </div>
            <div class="col-8">
                <h1>The quick brown fox jumps over the lazy dog.</h1>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <h6>H2</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Neufile Grotesk</div>
                    <div class="mb-3">Medium</div>
                    <div>Font Size: 50px</div>
                    <div>Line Height: 1.2</div> 
                    <div>Letter Spacing: -2.0</div>
                    <div>Font Color: #000</div>
                </div>
            </div>
            <div class="col-8">
                <h2>The quick brown fox jumps over the lazy dog.</h2>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <h6>H3</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Neufile Grotesk</div>
                    <div class="mb-3">Medium</div>
                    <div>Font Size: 40px</div>
                    <div>Line Height: 1.2</div> 
                    <div>Letter Spacing: -1.6</div>
                    <div>Font Color: #000</div>
                </div>
            </div>
            <div class="col-8">
                <h3>The quick brown fox jumps over the lazy dog.</h3>
            </div>
        </div>

        <div class="row mb-10">
            <div class="col-12">
                <h6>H4</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Neufile Grotesk</div>
                    <div class="mb-3">Light</div>
                    <div>Font Size: 35px</div>
                    <div>Line Height: 1.3</div> 
                    <div>Letter Spacing: -1.4</div>
                    <div>Font Color: #000</div>
                </div>
            </div>
            <div class="col-8">
                <h4 class="font-italic">The quick brown fox jumps over the lazy dog.</h4>
            </div>
        </div>

        <div class="row mb-10">
            <div class="col-12">
                <h6>H5</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Neufile Grotesk</div>
                    <div class="mb-3">Medium</div>
                    <div>Font Size: 26px</div>
                    <div>Line Height: 1.2</div>
                    <div>Letter Spacing: -1.04</div>
                    <div>Font Color: #000</div>
                </div>
            </div>
            <div class="col-8">
                <h5 class="font-italic">The quick brown fox jumps over the lazy dog.</h5>
            </div>
        </div>

        <div class="row mb-10">
            <div class="col-12">
                <h6>H6</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Neufile Grotesk</div>
                    <div class="mb-3">Bold</div>
                    <div>Font Size: 14px</div>
                    <div>Line Height: 1.25</div> 
                    <div>Font Color: #000</div>
                </div>
            </div>
            <div class="col-8">
                <h6 class="font-italic">The quick brown fox jumps over the lazy dog.</h6>
            </div>
        </div>
        
        <div class="row mb-10">
            <div class="col-12">
                <h6>Paragraph</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Neufile Grotesk</div>
                    <div class="mb-3">Light / Medium</div>
                    <div>Font Size: 16px</div>
                    <div>Line Height: 1.4</div> 
                    <div>Font Color: #3C3C3E / #FFFFFF</div>
                </div>
            </div>
            <div class="col-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            </div>
        </div>   

        <div class="row mb-10">
            <div class="col-12">
                <h6>Paragraph Text Link</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Neufile Grotesk</div>
                    <div class="mb-3">Light</div>
                    <div>Underlined</div>
                </div>
            </div>
            <div class="col-8">
                <p><a href="javascript:void(0);">programs@therobotgarage.com</p>
            </div>
        </div>   
        
        <div class=" border-top d-block"></div>  
    </div>

    <div class="container mb-10">
        <div class="row mb-10">
            <div class="col-4">
                <h6 class="text-uppercase mb-3">Normal Button</h6>
                <ul class="list-group list-unstyled">
                    <li class="mb-3">
                        <p><kbd>btn btn-outline-primary</kbd></p>
                        <a href="" class="btn btn-outline-primary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-secondary</kbd></p>
                        <a href="" class="btn btn-secondary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-dark</kbd></p>
                        <a href="" class="btn btn-dark">Shop Now</a>
                    </li>
                    <li class="">
                        <span class="p-5 bg-primary-400 d-inline-block">
                            <p><kbd>btn btn-outline-white</kbd></p>
                            <a href="" class="btn btn-outline-white">Shop Now</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h6 class="text-uppercase mb-3">Large Button</h6>
                <ul class="list-group list-unstyled">
                    <li class="mb-3">
                        <p><kbd>btn btn-outline-primary btn-lg</kbd></p>
                        <a href="" class="btn btn-lg btn-outline-primary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-secondary btn-lg</kbd></p>
                        <a href="" class="btn btn-lg btn-secondary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-dark btn-lg</kbd></p>
                        <a href="" class="btn btn-lg btn-dark">Shop Now</a>
                    </li>
                    <li class="">
                        <span class="p-5 bg-primary-400 d-inline-block">
                            <p><kbd>btn btn-outline-white btn-lg</kbd></p>
                            <a href="" class="btn btn-lg btn-outline-white">Shop Now</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h6 class="text-uppercase mb-3">Small Button</h6>
                <ul class="list-group list-unstyled">
                    <li class="mb-3">
                        <p><kbd>btn btn-outline-primary btn-sm</kbd></p>
                        <a href="" class="btn btn-sm btn-outline-primary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-secondary btn-sm</kbd></p>
                        <a href="" class="btn btn-sm btn-secondary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-dark btn-sm</kbd></p>
                        <a href="" class="btn btn-sm btn-dark">Shop Now</a>
                    </li>
                    <li class="">
                        <span class="p-5 bg-primary-400 d-inline-block">
                            <p><kbd>btn btn-outline-white btn-sm</kbd></p>
                            <a href="" class="btn btn-sm btn-outline-white">Shop Now</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 pb-10">
            <p><kbd>btn-link</kbd></p>
            <a href="" class="btn-link">Shop Now</a>
        </div>

        <div class=" border-top d-block"></div>
    </div>
    <div class="container mb-10">
        <div class="row">
            <div class="col-md-4 d-flex flex-column">
                <h6 class="text-uppercase mb-3">Product Tags</h6>
                <span class="badges mt-2">
                    <span class="badge bg-secondary text-uppercase" >
                        Best seller
                    </span>
                </span>
                <span class="badges mt-2">
                    <span class="badge bg-dark text-uppercase" >
                        New
                    </span>
                </span>
                <span class="badges mt-2">
                    <span class="badge bg-saddle-brown text-uppercase" >
                        Sale
                    </span>
                </span>
                <span class="badges mt-2">
                    <span class="badge bg-gainsboro text-uppercase text-primary" >
                        Out of stock
                    </span>
                </span>
            </div>
        </div>
        <div class=" border-top d-block mt-10"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3">Form Floating</h6>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="input-group mb-3 form-floating"> 
                    <input type="email" name="contact[email]" aria-label="email" id="newsletterFooterCustomerEmail" class="form-control" placeholder="Enter Your email" value="" autocorrect="off" autocapitalize="off" required="">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <button type="submit" name="btnSubmit" aria-label="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <label for="newsletterFooterCustomerEmail">Enter Your email</label>
                </div>
                <div class="input-group mb-5 form-floating"> 
                    <input type="email" name="contact[email]" aria-label="email" id="newsletterFooterCustomerEmail" class="form-control" placeholder="Enter Your email" value="" autocorrect="off" autocapitalize="off" required="">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <button type="submit" name="btnSubmit" aria-label="submit" class="btn btn-outline-primary">
                        Submit
                    </button>
                    <label for="newsletterFooterCustomerEmail">Enter Your email</label>
                </div>
            </div>
        </div>
    </div>
</div>



{% schema %}
{
  "name": "image banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "t:sections.image-banner.settings.image.label"
    }
  ]
}
{% endschema %}