#PopupModal-video .modal-dialog {
    max-width: 854px;
    width: 95%;
  }
  #PopupModal-video .video-section{
    min-height:210px;
    padding-top: 54%;
  }
  #PopupModal-video .modal-content{
    border:0;
    background-color: transparent;
  }
  #PopupModal-video .close-quickshop{
    top:-15%;
    right:-3%;
  }
  @media (min-width: 576px) {
    #PopupModal-video .close-quickshop{
        top:-10%;
        right:-2%;
      }
  }
  @media (min-width:768px) {
    #PopupModal-video .close-quickshop{
        top:-7%;
        right:-1%;
      }
  }
  @media (min-width: 992px) {
    #PopupModal-video .video-section{
        min-height:480px;
        /* padding-top: 120%; */
    }
  }
