{% include 'swym-custom-wishlist-page-css'%}
<section class="border-bottom">
    <span class="account-fair-tone gradient-fair-tone position-absolute w-100 start-0 top-0 overflow-hidden" style="pointer-events: none;z-index: -1;">
    </span>
    <div class="container">
        <div class="row">
          <div class="section-content col-12 px-sm-4 text-center ">
            <h1 class="page-title">My Wishlist</h1>
          </div>
        </div>
    </div>
  </section>
<section class="wishlist">

<div id="wishlist-items-container"></div>

</section>

<!-- Swym Wishlist render JS + CSS -->
<script src="{{ 'swym-custom-wishlist.js' | asset_url }}" async="async"></script>
<!-- Swym Custom Page CSS  -->